{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block navbar %}
<section class="content-header">
    <h1>重点国家疫情排行</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">重点国家疫情排行</li>
    </ol>
</section>
{% endblock %}

{% block content %}

<div class="box-body">

    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12 layui-col-md6">
            <div id="echarts-sector1" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
        </div>
        <div class="layui-col-xs12 layui-col-md6">
            <div id="echarts-sector2" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12 layui-col-md6">
            <div id="echarts-sector3" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
        </div>
        <div class="layui-col-xs12 layui-col-md6">
            <div id="echarts-sector4" style="background-color:#ffffff;min-height:400px;padding: 10px"></div>
        </div>
    </div>

</div>

<script>

        layui.use(['layer', 'echarts'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            echarts = layui.echarts;

        /**
         * 现存确诊人数区域分布
         */
        var echartsRecords = echarts.init(document.getElementById('echarts-sector1'), 'walden');

        var optionRecords = {
                  title: {
                    text: '新冠疫情现存确诊人数TOP10'
                  },
                  tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                      type: 'shadow'
                    }
                  },
                  legend: {},
                  grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                  },
                  xAxis: {
                    type: 'value',
                    boundaryGap: [0, 0.01]
                  },
                  yAxis: {
                    type: 'category',
                    data: {{ storeconfirm_top10[0]|safe }}
                  },
                  series: [
                    {
                      type: 'bar',
                      itemStyle: {
                            color: '#008B8B',
                        },
                      data: {{ storeconfirm_top10[1]|safe }}
                    }
                  ]
                };
        echartsRecords.setOption(optionRecords);


        /**
         * 累计确诊人数区域分布
         */
        var echartsPies = echarts.init(document.getElementById('echarts-sector2'), 'walden');
        var optionPies = {
              title: {
                text: '新冠疫情累计确诊人数TOP10'
              },
              tooltip: {
                trigger: 'axis',
                axisPointer: {
                  type: 'shadow'
                }
              },
              legend: {},
              grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
              },
              xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01]
              },
              yAxis: {
                type: 'category',
                data: {{ confirm_top10[0]|safe }}
              },
              series: [
                {
                  type: 'bar',
                  itemStyle: {
                        color: '#008B8B',
                    },
                  data: {{ confirm_top10[1]|safe }}
                }
              ]
            };
        echartsPies.setOption(optionPies);


        /**
         * 累计治愈人数区域分布
         */
        var echartsDataset = echarts.init(document.getElementById('echarts-sector3'), 'walden');

        var optionDataset = {
                  title: {
                    text: '新冠疫情累计治愈人数TOP10'
                  },
                  tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                      type: 'shadow'
                    }
                  },
                  legend: {},
                  grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                  },
                  xAxis: {
                    type: 'value',
                    boundaryGap: [0, 0.01]
                  },
                  yAxis: {
                    type: 'category',
                    data: {{ heal_top10[0]|safe }}
                  },
                  series: [
                    {
                      type: 'bar',
                      itemStyle: {
                            color: '#008B8B',
                        },
                      data: {{ heal_top10[1]|safe }}
                    }
                  ]
                };

        echartsDataset.setOption(optionDataset);


        /**
         * 累计死亡人数区域分布
         */
        var echartssector2 = echarts.init(document.getElementById('echarts-sector4'), 'walden');

        var optionsect2 = {
                  title: {
                    text: '新冠疫情累计死亡人数TOP10'
                  },
                  tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                      type: 'shadow'
                    }
                  },
                  legend: {},
                  grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                  },
                  xAxis: {
                    type: 'value',
                    boundaryGap: [0, 0.01]
                  },
                  yAxis: {
                    type: 'category',
                    data: {{ dead_top10[0]|safe }}
                  },
                  series: [
                    {
                      type: 'bar',
                      itemStyle: {
                            color: '#008B8B',
                        },
                      data: {{ dead_top10[1]|safe }}
                    }
                  ]
                };

        echartssector2.setOption(optionsect2);


        // echarts 窗口缩放自适应
        window.onresize = function () {
            echartsRecords.resize();
        }

    });

</script>
{% endblock %}
